[include mainsail.cfg]
[include macros.cfg]

#####################################################################
# MCU
#####################################################################

[mcu]
canbus_uuid: a8e6efbe1b52

[mcu EBBCan]
canbus_uuid: YOUR_EBB_UUID

[mcu cartographer]
canbus_uuid: 6d315879da12

#####################################################################
# Printer
#####################################################################

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 2500
max_z_velocity: 5
max_z_accel: 100

#####################################################################
# Virtual SD
#####################################################################

[virtual_sdcard]
path: ~/printer_data/gcodes

[pause_resume]
[display_status]
[exclude_object]

#####################################################################
# Cartographer
#####################################################################

[cartographer]
mcu: cartographer

x_offset: 0
y_offset: 17

speed: 40
lift_speed: 5

backlash_comp: 0.5
mesh_runs: 2

verbose: yes

#####################################################################
# Bed Mesh
#####################################################################

[bed_mesh]
speed: 150
horizontal_move_z: 5

mesh_min: 30,52
mesh_max: 90,125

probe_count: 10,10

algorithm: bicubic

#####################################################################
# Resonance Tester
#####################################################################

[adxl345]
cs_pin: EBBCan:PB12
spi_software_sclk_pin: EBBCan:PB10
spi_software_mosi_pin: EBBCan:PB11
spi_software_miso_pin: EBBCan:PB2

axes_map: x,z,-y

[resonance_tester]
accel_chip: adxl345

probe_points:
    60,60,20

#####################################################################
# X Stepper
#####################################################################

[stepper_x]
step_pin: PC8
dir_pin: !PC9
enable_pin: !PA15

microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200

endstop_pin: tmc2209_stepper_x:virtual_endstop

position_endstop: 132
position_max: 132
position_min: -12

homing_speed: 20
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PD9

run_current: 0.8
sense_resistor: 0.110

diag_pin: ^PD3
driver_SGTHRS: 49

stealthchop_threshold: 999999

#####################################################################
# Y Stepper
#####################################################################

[stepper_y]
step_pin: PA10
dir_pin: !PA14
enable_pin: !PA13

microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200

endstop_pin: tmc2209_stepper_y:virtual_endstop

position_endstop: 123
position_max: 123
position_min: -1

homing_speed: 20
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PD8

run_current: 0.8
sense_resistor: 0.110

diag_pin: ^PD2
driver_SGTHRS: 46

stealthchop_threshold: 999999

#####################################################################
# Z Stepper
#####################################################################

[stepper_z]
step_pin: PB12
dir_pin: PB11
enable_pin: !PA8

microsteps: 32
rotation_distance: 32
full_steps_per_rotation: 200

endstop_pin: cartographer:z_virtual_endstop
position_endstop: 0

position_max: 105
position_min: -10

homing_speed: 10
second_homing_speed: 3
homing_retract_dist: 0

[tmc2209 stepper_z]
uart_pin: PB2

run_current: 0.55
sense_resistor: 0.110

interpolate: false

#####################################################################
# Z1
#####################################################################

[stepper_z1]
step_pin: PC6
dir_pin: !PC7
enable_pin: !PA9

microsteps: 32
rotation_distance: 32
full_steps_per_rotation: 200

[tmc2209 stepper_z1]
uart_pin: PB10

run_current: 0.55
sense_resistor: 0.110

interpolate: false

#####################################################################
# Z2
#####################################################################

[stepper_z2]
step_pin: PB0
dir_pin: !PB1
enable_pin: !PC4

microsteps: 32
rotation_distance: 32
full_steps_per_rotation: 200

[tmc2209 stepper_z2]
uart_pin: PA6

run_current: 0.55
sense_resistor: 0.110

interpolate: false

#####################################################################
# Z Tilt
#####################################################################

[z_tilt]
z_positions:
    -47.5, 9.5
    60, 130.5
    167.5, 9.5

points:
    20,36
    60,121
    96,36

speed: 80
horizontal_move_z: 5

retries: 3
retry_tolerance: 0.01

#####################################################################
# Bed
#####################################################################

[heater_bed]
heater_pin: PA5

sensor_type: ATC Semitec 104GT-2
sensor_pin: PA0

control: pid

min_temp: 0
max_temp: 110

#####################################################################
# Extruder
#####################################################################

[extruder]
step_pin: EBBCan:PD0
dir_pin: !EBBCan:PD1
enable_pin: !EBBCan:PD2

microsteps: 16
rotation_distance: 4.637

nozzle_diameter: 0.400
filament_diameter: 1.750

heater_pin: EBBCan:PB13
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: EBBCan:PA3

min_temp: 0
max_temp: 300

[tmc2209 extruder]
uart_pin: EBBCan:PA15

run_current: 0.650
sense_resistor: 0.110

#####################################################################
# Fans
#####################################################################

[fan]
pin: EBBCan:PA1

[heater_fan hotend_fan]
pin: EBBCan:PA0
heater: extruder
heater_temp: 50.0

#####################################################################
# Temps
#####################################################################

[temperature_sensor BTT_CB2]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor M5P]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor Cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer

min_temp: 0
max_temp: 100

#####################################################################
# Idle Timeout
#####################################################################

[idle_timeout]
timeout: 3600