# This file contains common pin mappings for the BIGTREETECH Manta M5P
# To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" "8 MHz crystal"
# and "USB (on PA11/PA12)" or "CAN bus (on PD0/PD1)".

# See docs/Config_Reference.md for a description of parameters.
[include macros.cfg]
[include toolhead.cfg]
[include mainsail.cfg]
[include led_effects.cfg]
[include bedfan.cfg]
[include KAMP_Settings.cfg]

#####################################################################
#   Printer Settings
#####################################################################

[mcu]
canbus_uuid: a8e6efbe1b52

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 2500
max_z_velocity: 5
max_z_accel: 100

[virtual_sdcard]
path: ~/printer_data/gcodes
[display_status]
[pause_resume]
[exclude_object]

[force_move]
enable_force_move: True

[adxl345]
cs_pin: EBBCan: PB12
spi_software_sclk_pin: EBBCan: PB10
spi_software_mosi_pin: EBBCan: PB11
spi_software_miso_pin: EBBCan: PB2
axes_map: x,z,-y

[resonance_tester]
accel_chip: adxl345
probe_points:
    60, 60, 20  # an example

#####################################################################
#   Cartographer
#####################################################################

[mcu cartographer]
canbus_uuid: 6d315879da12

[cartographer]
mcu: cartographer
x_offset: 0 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
y_offset: 17 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
verbose: yes # For extra output

[bed_mesh]
zero_reference_position: 60, 60    
#    set this to the middle of your bed
speed: 250
horizontal_move_z: 3
mesh_min: 30, 52
mesh_max: 90, 125
probe_count: 20,20
adaptive_margin: 0
mesh_pps: 0,0 # Disable interpolation - mesh is probably dense enough

[z_tilt]
z_positions:
#For Hammer-Head Bed
 -47.5, 9.5
 60, 130.5
 167.5, 9.5

points:
 20,36
 60,121
 96,36

speed: 80
horizontal_move_z: 5
retries: 3
retry_tolerance: 0.01

#####################################################################
#   Shake & Tune Settings
#####################################################################

[shaketune]
# result_folder: ~/printer_data/config/ShakeTune_results
#    Path where the processed results will be stored. If the folder doesn't exist,
#    it will be automatically created. You can change this if you'd like to store 
#    results in a different location.
# number_of_results_to_keep: 10
#    This setting defines how many results you want to keep in the result folder.
#    Once the specified number is exceeded, older results will be automatically deleted
#    to free up space on the SD card and avoid cluttering the results folder.
# keep_raw_data: False
#    If set to True, Shake&Tune will store both the processed graphs and the raw accelerometer
#    .stdata files in the results folder. This can be useful for debugging or archiving purposes.
#    Please always attach them when reporting any issues on GitHub or Discord.
# show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for system commands (macros that are not part
#    of the printer.cfg file). This option allow Shake&Tune to inject them into the webui at runtime.
#    If set to False, the macros will be hidden but still accessible from the console by typing
#    their names manually, which can be useful if you prefer to encapsulate them into your own macros.
# timeout: 600
#    This defines the maximum processing time (in seconds) to allows to Shake&Tune for generating 
#    graphs from a .stdata file. 10 minutes should be more than enough in most cases, but if you have
#    slower hardware (e.g., older SD cards or low-performance devices), increase it to prevent timeouts.
# measurements_chunk_size: 2
#    Each Shake&Tune command uses the accelerometer to take multiple measurements. By default,
#    Shake&Tune will write a chunk of data to disk every two measurements, and at the end of the
#    command will merge these chunks into the final .stdata file for processing. "2" is a very
#    conservative setting to avoid Klipper Timer Too Close errors on lower end devices with little
#    RAM, and should work for everyone. However, if you are using a powerful computer, you may
#    wish to increase this value to keep more measurements in memory (e.g., 15-20) before writing
#    the chunk and avoid stressing the filesystem too much.
# max_freq: 200
#    This setting defines the maximum frequency at which the calculation of the power spectral density
#    is cutoff. The default value should be fine for most machines and accelerometer combinations and
#    avoid touching it unless you know what you're doing.
# dpi: 300
#    Controls the resolution of the generated graphs. The default value of 300 dpi was optimized
#    and strikes a balance between performance and readability, ensuring that graphs are clear
#    without using too much RAM to generate them. Usually, you shouldn't need to change this value.


#####################################################################
#   Stepper Settings
#####################################################################

[stepper_x]
step_pin: PC8
dir_pin: !PC9
enable_pin: !PA15
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 132
position_max: 132
position_min: -12
homing_speed: 20
homing_retract_dist: 0
homing_positive_dir: true
step_pulse_duration: 0.000001

[tmc2209 stepper_x]
uart_pin: PD9
interpolate: False
run_current: 0.8
#run_current: 1.0
sense_resistor: 0.110
#stealthchop_threshold: 200 
stealthchop_threshold: 999999
diag_pin: ^PD3
driver_SGTHRS: 49

[stepper_y]
step_pin: PA10
dir_pin: !PA14
enable_pin: !PA13
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 123
position_max: 123
position_min: -1
homing_speed: 20
homing_retract_dist: 0
homing_positive_dir: true
step_pulse_duration: 0.000001

[tmc2209 stepper_y]
uart_pin: PD8
interpolate: False
run_current: 0.8
#run_current: 1.0
sense_resistor: 0.110
#stealthchop_threshold: 200 
stealthchop_threshold: 999999
diag_pin: ^PD2
driver_SGTHRS: 46

##  Z1 Stepper - Front Left
[stepper_z]
step_pin: PB12
dir_pin: PB11
enable_pin: !PA8
microsteps: 128
rotation_distance: 32
full_steps_per_rotation: 200
endstop_pin: probe:z_virtual_endstop
#position_endstop: 0
position_max: 105
position_min: -10
homing_speed: 120
second_homing_speed: 3.0
homing_retract_dist: 0

[tmc2209 stepper_z]
uart_pin: PB2
run_current: 0.5500
diag_pin: PC3
interpolate: False

##  Z2 Stepper - Front Right
[stepper_z1]
step_pin: PC6
dir_pin: !PC7
enable_pin: !PA9
microsteps: 128
rotation_distance: 32
full_steps_per_rotation: 200

[tmc2209 stepper_z1]
uart_pin: PB10
run_current: 0.5500
diag_pin: PC2
interpolate: False

##  Z3 Stepper - Rear Middle
[stepper_z2]
step_pin: PB0
dir_pin: !PB1
enable_pin: !PC4
microsteps: 128
rotation_distance: 32
full_steps_per_rotation: 200

[tmc2209 stepper_z2]
uart_pin: PA6
run_current: 0.5500
diag_pin: 
interpolate: False

#####################################################################
#   Bed Settings
#####################################################################

[heater_bed]
heater_pin: PA5
sensor_type: ATC Semitec 104GT-2
sensor_pin: PA0
#control: watermark
min_temp: 0
max_temp: 110
max_power: 0.85

#####################################################################
#   Skew Correction
#####################################################################

#[skew_correction]
#[skew_correction califlowerpla]
#xy_skew = 0.01168002124334509
#xz_skew = 0.0
#yz_skew = 0.0

#[skew_correction CaliFlowerPLA]
#xy_skew = 0.01168002124334509
#xz_skew = 0.0
#yz_skew = 0.0

#####################################################################
#   Temperature Sensors
#####################################################################

[temperature_sensor BTT_CB2]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor M5P_Motherboard]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor EBB36]
sensor_type: temperature_mcu
sensor_mcu: EBBCan
min_temp: 0
max_temp: 100

[temperature_sensor chamber_temp]
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PA1
min_temp: 0
max_temp: 100
gcode_id: chamber_th

[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 105

#####################################################################
#   Filament Sensor Settings
#####################################################################

[filament_switch_sensor filament_sensor]
switch_pin: ^PC2
pause_on_runout: False
runout_gcode:
 PAUSE # [pause_resume] is required in printer.cfg
 M117 Filament Runout Detected
insert_gcode:
 M117 Filament Runout Detected


#####################################################################
#   Misc Settings
#####################################################################

[fan_generic StepperFans]
pin: PA3
#cycle_time: 0.05
kick_start_time: 0.5

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PD5, EXP1_3=PB3, EXP1_5=PB5, EXP1_7=PB7, EXP1_9=<GND>,
    EXP1_2=PD4,  EXP1_4=PD6, EXP1_6=PB4, EXP1_8=PB6, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PB14, EXP2_3=PB8, EXP2_5=PC10, EXP2_7=PC12,  EXP2_9=<GND>,
    EXP2_2=PB13, EXP2_4=PB9, EXP2_6=PB15, EXP2_8=<RST>, EXP2_10=<NC>

# See the sample-lcd.cfg file for definitions of common LCD displays.

[idle_timeout]
timeout: 3600

#####################################################################
#   WLED
#####################################################################

[gcode_macro WLED_ON]
description: Turn WLED strip on using optional preset and resets led colors
gcode:
  {% set strip = params.STRIP|default("chamber")|string %}
  {% set preset = params.PRESET|default(1)|int %}

  {action_call_remote_method("set_wled_state",
                             strip=strip,
                             state=True,
                             preset=preset)}

[delayed_gcode setchamberled]
initial_duration: 2
gcode:
  WLED_ON STRIP=chamber PRESET=1
  #SET_FAN_SPEED FAN=Electronics_fan SPEED=1

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 45.562
#*# pid_ki = 1.368
#*# pid_kd = 379.303
#*#
#*# [skew_correction CaliFlowerPLA]
#*# xy_skew = 0.01168002124334509
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.004761, 0.009146, 0.015541, 0.015541, 0.012348, 0.015541, 0.012348, 0.011163, 0.011163, 0.011163, 0.011163, 0.013355, 0.011340, 0.013527, 0.013355, 0.013355, 0.015541, 0.013527, 0.013355, 0.015712
#*# 	  0.022089, 0.022089, 0.024091, 0.019906, 0.019906, 0.015541, 0.013355, 0.011340, 0.009146, 0.011163, 0.006955, 0.011340, 0.011340, 0.013527, 0.017724, 0.021914, 0.025269, 0.032960, 0.026442, 0.037122
#*# 	  0.028615, 0.028615, 0.024267, 0.020997, 0.014620, 0.014534, 0.004761, 0.004761, 0.000541, 0.000368, -0.001663, 0.000368, 0.000368, 0.004761, 0.008974, 0.009146, 0.013355, 0.017724, 0.024091, 0.030616
#*# 	  0.030791, 0.028445, 0.022089, 0.022089, 0.019906, 0.017724, 0.011340, 0.011340, 0.006955, 0.009146, 0.004761, 0.009060, 0.008974, 0.013355, 0.019906, 0.024267, 0.029703, 0.041452, 0.043524, 0.039286
#*# 	  0.041452, 0.041277, 0.034957, 0.031701, 0.024267, 0.022260, 0.013527, 0.013355, 0.009060, 0.007964, 0.007964, 0.009146, 0.009146, 0.015712, 0.017900, 0.022089, 0.031788, 0.037122, 0.043524, 0.052059
#*# 	  0.045594, 0.043437, 0.041452, 0.038291, 0.034044, 0.030616, 0.026271, 0.026271, 0.022089, 0.019993, 0.019906, 0.020997, 0.025269, 0.030791, 0.034957, 0.043611, 0.052233, 0.064935, 0.064763, 0.066901
#*# 	  0.060654, 0.057434, 0.054209, 0.052059, 0.041277, 0.041452, 0.030616, 0.030791, 0.028615, 0.026357, 0.028615, 0.028615, 0.030616, 0.037122, 0.041452, 0.046848, 0.054298, 0.060654, 0.069041, 0.079700
#*# 	  0.064935, 0.062796, 0.060477, 0.056361, 0.052233, 0.049908, 0.047750, 0.045594, 0.043611, 0.043611, 0.043611, 0.044689, 0.047839, 0.054209, 0.060477, 0.067078, 0.077393, 0.088018, 0.089076, 0.090135
#*# 	  0.076503, 0.073307, 0.071175, 0.065918, 0.055285, 0.058506, 0.047838, 0.045768, 0.047928, 0.045768, 0.047750, 0.050081, 0.053221, 0.057347, 0.060654, 0.069041, 0.075441, 0.079524, 0.088018, 0.098416
#*# 	  0.075441, 0.073307, 0.071351, 0.066901, 0.064935, 0.062796, 0.060654, 0.060654, 0.058506, 0.058506, 0.060654, 0.060654, 0.067078, 0.073307, 0.077569, 0.083863, 0.090135, 0.102632, 0.106841, 0.108940
#*# 	  0.084833, 0.090047, 0.081824, 0.077393, 0.069038, 0.069041, 0.058506, 0.060477, 0.058506, 0.059580, 0.061637, 0.066006, 0.068059, 0.075441, 0.079700, 0.081824, 0.090135, 0.094192, 0.102632, 0.111042
#*# 	  0.081824, 0.079700, 0.077569, 0.075441, 0.071175, 0.071175, 0.071175, 0.069041, 0.069041, 0.069041, 0.070194, 0.073307, 0.075441, 0.081648, 0.088018, 0.096481, 0.099556, 0.115058, 0.114098, 0.119244
#*# 	  0.077393, 0.075441, 0.073307, 0.066901, 0.060654, 0.061637, 0.055285, 0.057347, 0.058506, 0.058506, 0.060654, 0.066901, 0.066901, 0.072241, 0.075441, 0.079700, 0.088018, 0.092254, 0.100701, 0.108851
#*# 	  0.062707, 0.062619, 0.060566, 0.058420, 0.056447, 0.056361, 0.054209, 0.056361, 0.054209, 0.058506, 0.058506, 0.062619, 0.066901, 0.073307, 0.075441, 0.085895, 0.089960, 0.100523, 0.104736, 0.106841
#*# 	  0.044603, 0.050081, 0.047750, 0.045594, 0.040456, 0.041452, 0.037122, 0.038204, 0.039286, 0.041277, 0.041452, 0.045768, 0.047750, 0.052146, 0.058506, 0.062707, 0.071175, 0.073307, 0.083775, 0.092254
#*# 	  0.047928, 0.045768, 0.045768, 0.045768, 0.043611, 0.045594, 0.047750, 0.049908, 0.049908, 0.050081, 0.050081, 0.052059, 0.058333, 0.061725, 0.068059, 0.077569, 0.081824, 0.094366, 0.100523, 0.100701
#*# 	  0.050080, 0.047928, 0.047750, 0.041277, 0.041452, 0.039286, 0.037122, 0.039286, 0.039286, 0.041452, 0.041452, 0.045768, 0.047928, 0.052146, 0.058420, 0.062796, 0.071175, 0.075441, 0.083950, 0.093310
#*# 	  0.075441, 0.069041, 0.049908, 0.045768, 0.045768, 0.047928, 0.047750, 0.049908, 0.052059, 0.056361, 0.057347, 0.056361, 0.064935, 0.064935, 0.077393, 0.081737, 0.085895, 0.098590, 0.106841, 0.104735
#*# 	  0.075441, 0.056361, 0.052059, 0.047750, 0.042531, 0.045768, 0.041452, 0.045594, 0.043437, 0.043611, 0.047838, 0.052059, 0.057434, 0.060654, 0.064763, 0.071175, 0.077569, 0.083950, 0.092254, 0.102632
#*# 	  0.081648, 0.079700, 0.072329, 0.066901, 0.041452, 0.045768, 0.043611, 0.049908, 0.047750, 0.049995, 0.054209, 0.056361, 0.060654, 0.066901, 0.073307, 0.081824, 0.090135, 0.096481, 0.104735, 0.110864
#*# min_x = 30.0
#*# min_y = 52.0
#*# max_x = 90.0
#*# max_y = 125.0
#*# x_count = 20
#*# y_count = 20
#*# mesh_x_pps = 0
#*# mesh_y_pps = 0
#*# algo = bicubic
#*# tension = 0.2
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.4044202582643692,1.8779326028239947,0.8370968676516553,0.41679087004411436,0.5818129368069577,0.5165919741301244,-0.4608144344682339,-0.4456997164829858,0.4372883949436895,0.3350556201265475
#*# domain = 3.1630780465083754e-07,3.3344292268806907e-07
#*# z_offset = 0
#*# reference_temperature = 26.08
#*# software_version = 1.3.3
#*# mcu_version = CARTOGRAPHER 5.0.0
#*#
#*# [cartographer touch_model default]
#*# threshold = 2042
#*# speed = 2
#*# z_offset = -0.05
#*# software_version = 1.3.3
#*# mcu_version = CARTOGRAPHER 5.0.0
#*#
#*# [input_shaper]
#*# shaper_type_x = ei
#*# shaper_freq_x = 96.0
#*# shaper_type_y = 2hump_ei
#*# shaper_freq_y = 75.0
